.btn-custom-secondary {
  background-color: #67c9cb;
  border: none;
  box-shadow: 2px 2px 5px 1px rgb(108, 108, 108);
  color: #000;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;

}

.span-bold {
  font-weight: bold;
  font-size: 30px;
}

.span-bold2 {
  font-weight: bold;
  font-size: 20px;
}

.badge-lg {
  font-size: 20px;
  margin-top: 10px;
}

.bg-side-plataforma {
  background-color: #D57C48;
  color: white;
}

.box-1 {
  width: 70vw;
  padding: 20px;
  background: rgb(238, 238, 238);
  box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
  box-sizing: border-box;
}