{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashbaords</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
  <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
  <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
  <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-side sidebar" style="height: 140vh; width:250px">
        <h2>AdotsPets</h2>
        <hr>
        <ul class="list-group list-group-flush" >
          <li class="list-group-item btn-criar-pet">
              <a class="nav-link" href="{% url 'novo_pet' %}">
                  Criar novo Pet
              </a>
          </li>

          <li class="list-group-item btn-criar-pet">
              <a class="nav-link" href="{% url 'listar_pets'%}">
                  Lista de Pets
              </a>
          </li>

          <li class="list-group-item btn-criar-pet">
            <a class="nav-link" href="{% url 'seus_pets' %}">
              Gerenciar seus Pets
            </a>
          </li>

          <li class="list-group-item btn-criar-pet">
            <a class="nav-link" href="{% url 'dashboard'%}">
              Meus Dashboards
            </a>
          </li>
          
          <li class="list-group-item btn-criar-pet">
              <a class="nav-link" href="{% url 'dashboard'%}">
                  Dashboards Gerais
              </a>
          </li>
          
        </ul>
        <hr>
        
        <li class="list-group-item"
          style="background-color: #ff0541; color: #fff; box-shadow: 2px 2px 5px 1px rgb(108, 108, 108); font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; border-radius: 5px; ">
              <a class="nav-link" href="{% url 'exit'%}">
                  Logout
              </a>
          </li>
      </div>

      <div style="padding:60px" class="col-md">

        <h3 class="font-vinho">Quantidade de adoções por raça.</h3>
        <div style="width: 60%;">
          <canvas id="myChart1"></canvas>
        </div>

        <h3 class="font-vinho">Quantidade de adoções confirmadas por raça.</h3>
        <div style="width: 60%;">
          <canvas id="myChart2"></canvas>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

    fetch("/divulgar/api_adocoes_por_raca/", {
      method: 'GET',
    }).then(function (result) {
      return result.json()
    }).then(function (data_adocoes) {

      const data = {
        labels: data_adocoes['labels'],
        datasets: [{
          label: 'Adoções',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: data_adocoes['qtd_adocoes'],
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {}
      };

      const myChart = new Chart(
        document.getElementById('myChart1'),
        config
      );


    })

    fetch("/divulgar/api_adocoes_confirmadas/", {
      method: 'GET',
    }).then(function (result) {
      return result.json()
    }).then(function (data_adocoes) {

      const data = {
        labels: data_adocoes['labels'],
        datasets: [{
          label: 'Adoções Confirmadas',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: data_adocoes['qtd_adocoes'],
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {}
      };

      const myChart = new Chart(
        document.getElementById('myChart2'),
        config
      );


    })



  </script>

  <style>
    .btn-criar-pet {
        background-color: #67c9cb;
        color: #000;
        font-family: Montserrat, sans-serif;
        box-shadow: 2px 2px 5px 1px rgb(108, 108, 108);
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .btn-criar-pet:hover {
        background-color: #4a9b9d;
    }
    </style>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>