{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista de Pets</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
  <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
  <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
  <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-side sidebar" style="height: 140vh; width:250px">
        <h2>AdotsPets</h2>
        <hr>
        <ul class="list-group list-group-flush" >
          <li class="list-group-item" 
          style="background-color: #391D34; color: #fff; font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; ">
              <a class="nav-link" href="{% url 'novo_pet' %}">
                  Criar novo Pet
              </a>
          </li>
          <li class="list-group-item"
          style="background-color: #391D34; color: #fff; font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; ">
              <a class="nav-link" href="{% url 'seus_pets' %}">
                  Gerenciar seus Pets
              </a>
          </li>
          <li class="list-group-item"
          style="background-color: #391D34; color: #fff; font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; ">
              <a class="nav-link" href="{% url 'dashboard'%}">
                  Meus Dashboards
              </a>
          </li>
          <li class="list-group-item"
          style="background-color: #391D34; color: #fff; font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; ">
              <a class="nav-link" href="{% url 'dashboard'%}">
                  Dashbaords Gerais
              </a>
          </li>
        </ul>
        <hr>
        <li class="list-group-item"
          style="background-color: #391D34; color: #fff; font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; ">
              <a class="nav-link" href="{% url 'listar_pets'%}">
                  Lista de Pets
              </a>
          </li>
        <li class="list-group-item"
          style="background-color: #391D34; color: #fff; font-family: Montserrat, sans-serif; margin-bottom: 20px; margin-top: 20px; ">
              <a class="nav-link" href="{% url 'exit'%}">
                  Logout
              </a>
          </li>
      </div>

      <div class="col-md">
        <div class="wrapper">
          <div class="box" style="width: 70vw;">
            {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{message.tags}}">
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <h3 class="font-vinho">Quero adotar</h3>
            <hr>
            <form action="{% url 'listar_pets' %}" method="GET">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Cidade..." value="{% if cidade %}{{cidade}}{% endif %}" name="cidade"
                    class="form-control">
                </div>

                <div class="col-md-4">
                  <select class="form-select" name="raca">
                    {% for raca in racas %}
                    <option value="{{raca.id}}">{{raca}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-2">
                  <input type="submit" class="btn-custom-secondary" value="FILTRAR">
                </div>
              </div>
            </form>

            <table class="tabela" cellpadding="20">
              <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Raça</th>
                <th>Status</th>
                <th>Cidade</th>
              </tr>
              {% for pet in pets%}
              <tr class="tabela-linha">
                <td width="20%">
                  <a href="{% url 'ver_pet' pet.id %}"><img width="40%" src="{{pet.foto.url}}"></a>
                </td>
                <td>
                  {{pet.nome}}
                </td>
                <td>
                  {{pet.raca}}

                </td>
                <td>
                  {% if pet.status == "P" %}
                  <span class="badge text-bg-primary">Para adoção</span>
                  {% elif pet.status == "A" %}
                  <span class="badge text-bg-success">Adotado</span>
                  {% endif%}



                </td>
                <td>
                  {{pet.cidade}}
                </td>
              </tr>
              {% endfor %}


            </table>
          </div>
        </div>
      </div>

    </div>


  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>